.page2-container {
    min-height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background: white;
  }
  
  .label {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .input {
    height: 55px;
    border: 1.5px solid black;
    padding: 0 15px;
    font-size: 16px;
    margin-bottom: 25px;
  }
  
  .gender-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 60px;
  }
  
  .gender-btn {
    width: 45%;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    background: #fff;
    border: 2px solid #000;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  /* Hover (optional but nice) */
  .gender-btn:hover {
    background: #f2f2f2;
  }
  
  /* Active / selected */
  .gender-btn.active {
    background: #000;
    color: #fff;
    border: 2px solid #000;
  }
  
  /* Optional: pressed effect */
  .gender-btn:active {
    transform: scale(0.98);
  }
  
  .next-btn {
    align-self: center;
    width: 300px;
    padding: 18px;
    font-size: 18px;
    background: #1f1f1f;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 0 black;
  }
  