.page2-container {
    min-height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background: white;
  }
  
  .label {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .input {
    height: 55px;
    border: 1.5px solid black;
    padding: 0 15px;
    font-size: 16px;
    margin-bottom: 25px;
  }
  
  .gender-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 60px;
  }
  
  .gender-btn {
    width: 45%;
    padding: 18px;
    font-size: 16px;
    color: white;
    background: #1f1f1f;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 0 black;
  }
  
  .gender-btn.active {
    background: black;
  }
  
  .next-btn {
    align-self: center;
    width: 300px;
    padding: 18px;
    font-size: 18px;
    background: #1f1f1f;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 0 black;
  }
  